<!DOCTYPE html> 
<html>
    <head>
        <title>MedicalCard</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <form action="/medcard" method="post">


            <div class="content_wrap">
                <table>
                    <h1>진료카드</h1>
                    <tr>
                        <td>[이미지 다운로드] 하시고</td>
                    </tr>
                    <tr>
                        <td>다운로드한 진료카드를 사용해주세요</td>
                    </tr>
                </table>
            </div>

            <div class = "content_wrap">
                <h2> <%= name %> </h2>
                <p style="text-align:center">
                    <img src="/medcard/Barcodes?idno=<%= idno %>&name=<%= name %>" height="100" width="400">    
                </p>
                <h2> <%= idno %> </h2>
            </div>
            
            <div style="text-align:center; margin-bottom:30px;" >
                <img style="width:25%;" src="images/top_logo.png" alt="성빈센트병원 타이틀 이미지">
            </div>

            <div class="btn_wrap" style="margin-bottom: 15px;">
                <input type="submit" value="이미지 다운로드" class="btn">
                <input type="hidden" name="idno"  value="<%= idno %>" >        
                <input type="hidden" name="name" value="<%= name %>" >    
            </div>
        
        </form>
    </body>
</html>
